#title{
    text-align: center;
    margin-top: 25px;
}

#form{
    margin: auto;
    text-align: center;
}
#nome{
    padding: 10px 20px;
    margin-left: 10px;
}

#btn{
    background-color: rebeccaPurple;
    padding: 4px 4px 4px;
    border-radius: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    margin: 0px 5px;
}

#btn:focus{
    outline: none;
}

#btn:active{
    transform: scale(0.96);
}

a{
    cursor: pointer;
}

#edit-box{
    display: none;
    margin: auto;
    margin-top: 30px;
    margin-left: 30px;
}

td{
    background-color: lightgray;
}

.btn-edit{
    background-color: rgb(209, 116, 63);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

.btn-delete{
    background-color: red;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
}

.div-table{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.linha-tabela{
    background-color: white;
}

.background-tabela{
    padding: 0.5rem 1.5rem 1.5rem;
    background-color: #dfe6e9;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#save{
    display: flex;
    text-align: center;
    justify-content: center;
}